@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
  background-color: #03403a;
  color: #d99d55;
}

#page {
  text-align: center;
}

.dashboard-card {
  background-color: #f2e8df;
  color: #262223;
  width: 300px;
  height: 150px;

  button {
    background-color: #d99d55;
    border-color: #262223;

    :hover, :focus, :active, .active {
      background-color: #ae7e44
    }
  }
}
