@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
  background-color: #03403A;
}

.navbar {
  background-color: #F2E8DF;
}

.nav-link img {
  width: 3em;
  padding-left: 1em;
}

.navbar-brand img {
 width: 4em;
}

#google-auth img {
  width: 3em;
}

#addSpeciesBtn {
  background-color: #D99D55;
  color: #F2E8DF;
}

#speciesCard {
  background-color: #F2E8DF;
  border-color: black;
  .view-species-btn {
    background-color: #D99D55;
    color: #F2E8DF;
  }
  .delete-species-btn {
    background-color: #297365;
    color: #F2E8DF;
  }
  .card-title  {
    padding-top: 2em;
    img {
      width: 1.5em;
      padding-bottom: .25em;
    }
  }
  .card-text img {
    width: 1em;
    padding-bottom: .2em;
  }
  .card-body {
    padding-left: 5em;
  }
}

#add-log-form {
  width: 60%;
  margin: auto;
  justify-content: center;
}
