@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
  background-color: #03403a;
  color: #d99d55;
}

#cardContainer {
  text-align: center;
  width: 100%;
}

#dashboardHeader {
  margin-top: -50px;
}

#pageCardsContainer {
  display: flex;
  flex-flow: row wrap;
}

.width-50 {
  width: 50%;
  margin-top: 50px;
}

.width-100 {
  width: 100%;
  margin-top: 50px;
}

.dashboard-card {
  background-color: #f2e8df;
  color: #262223;
  width: 300px;
  height: 150px;
  margin: auto;

  button {
    background-color: #d99d55;
    border-color: #262223;
  }
}

.navbar {
  background-color: #F2E8DF;
}

.nav-link img {
  width: 3em;
  padding-left: 1em;
}

.navbar-brand img {
 width: 4em;
}

#google-auth img {
  width: 3em;
}

.btn-hj-primary {
  background-color: #d99d55;
  color: #f2e8df;
}

.destination-card {
  height: fit-content;
}

.btn-hj-warning {
  background-color: #f49a1a;
  color: #f2e8df;
}

.btn-hj-danger {
  background-color: #f44336;
  color: #f2e8df;
}

#addNewSpeciesBtn {
  background-color: #D99D55;
  color: #F2E8DF;
}


#addCrewBtn {
  background-color: #D99D55;
  color: #F2E8DF;
}


#addLogEntryBtn {
  background-color: #D99D55;
  color: #F2E8DF;
}

#speciesCard {
  background-color: #F2E8DF;
  border-color: black;
  .view-species-btn {
    background-color: #D99D55;
    color: #F2E8DF;
  }
  .delete-species-btn {
    background-color: #297365;
    color: #F2E8DF;
  }
  .card-title  {
    padding-top: 2em;
    img {
      width: 1.5em;
      padding-bottom: .25em;
    }
  }
  .card-text img {
    width: 1em;
    padding-bottom: .2em;
  }
  .card-body {
    padding-left: 5em;
  }
}

#add-log-form {
  width: 60%;
  margin: auto;
  justify-content: center;
}

#log-entry-card {
  background-color: #F2E8DF;
  border-color: black;
}

#addButton {
  display:flex;
  justify-content: center;
  margin-top: 75px;
  margin-bottom: 75px;
}

.submitSpeciesBtn {
  background-color: #D99D55;
  color: #F2E8DF;
}
