@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
  background-color: #03403A;
}

.navbar {
  background-color: #F2E8DF;
}

.nav-link img {
  width: 3em;
  padding-left: 1em;
}

.navbar-brand img {
 width: 4em;
}

#google-auth img {
  width: 3em;
}
